<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <title>Goal</title>
</head>
<body>
    <div class="head">
        <h2>{{ session['name'] }}</h2>
        <div>
            <a href="/{{ session['id'] }}/dashboard">Dashboard |</a>
            <a href="/logout"> Logout</a>
            <a href="/{{ session['id'] }}/profile">
                <button>
                    <img src = "{{ url_for('static',filename='media/stock_user.jpeg') }}">
                </button>
            </a>
        </div>
    </div>
    <div class="container">
    <div class="goal">
    <h1>{{ milestone['stone_name'] }}</h1>
    <label for="description">Description: {{ milestone['stone_description'] }}</label>
    <label for="target">Projected Completion Date: {{ milestone['target_date'] }}</label>
    <label for="end">Date Completed: {{ milestone['completed_date'] }}</label>
    <div>
    <a href="/milestone/edit/{{ milestone['id'] }}">Change Milestone</a>
    <a href="/delete/milestone/{{ milestone['goal_id'] }}/{{ milestone['id'] }}">DELETE</a>
    </div>
    </div>
</div>
</body>
</html>