<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/create_goal.css') }}">
    <title>Register Continued</title>
</head>
<body>
    <div class="head">
        <h1>{{ session['name'] }}</h1>
        <div>
            <a href="/{{ session['id'] }}/dashboard">Dashboard |</a>
            <a href="/logout"> Logout</a>
            <a href="/{{ session['id'] }}/profile">
                <button>
                    <img src = "{{ url_for('static',filename='media/user_picture.jpg') }}">
                </button>
            </a>
        </div>
    </div>
    <div class="container">
        <div>
        <img id="img" src = "{{ url_for('static',filename='media/user_picture.jpg') }}">
        <h4>{{ session.name }}</h4>
        <h5>Member since {{ session['created_at'] }}</h5>
        <label for="bio">Bio: </label>
        <p>{{ session['bio'] }}</p>
        <label for="birthday">Birthday: {{ session.birthday }}</label>
        <label for="city">City: {{ session.city }}</label>
        <label for="gender">Gender: {{ session.gender }}</label>
        <a href="/{{ session.id }}/profile/edit">Edit Profile |</a>
        <a href="/{{ session.id }}/dashboard"> Dashboard</a>
        </div>
    </div>
</body>
</html>